---
# version: 1.0.7

- hosts: localhost
  gather_facts: true
  become_user: root

- name: TZ
  import_playbook: aac-base-tz.yaml

- name: SELinux
  import_playbook: aac-base-selinux.yaml

- hosts: localhost
  tasks:
     - name: Get NodeJS
       get_url:
         url: https://rpm.nodesource.com/setup_14.x
         dest: /tmp
         mode: 0750
       when: ansible_os_family == "RedHat"

     - name: Get Deb NodeJS
       get_url:
         url: https://deb.nodesource.com/setup_14.x
         dest: /tmp
         mode: 0750
       when: ansible_os_family == "Debian"

     - name: Register NodeJS Repo
       become: yes
       shell: "/tmp/setup_14.x"
       args:
         executable: /bin/bash
       when: (ansible_distribution != "MacOSX") and
             (ansible_os_family != "VMware Photon OS")

     - name: install RHEL < 8 dependencies
       become: yes
       package:
         name:
           - wget
           - libxml2
           - ncurses
           - bc
           - jq
           - sharutils
           - python
           - python-urllib3
           - nodejs
           - xorg-x11-server-Xvfb
           - libXScrnSaver
           - at-spi2-atk
           - gcc
           - gcc-c++
           - make
           - gtk3
           - alsa-lib
         state: latest
       when: ansible_os_family == "RedHat" and ansible_distribution_major_version is version ("8","<")

     - name: Need Yum Utils
       become: yes
       package:
         name: yum-utils
       when: ansible_os_family == "RedHat" and ansible_distribution_major_version is version ("7",">")

     - name: Need Power Tools for RHEL 8
       become: yes
       shell: "yum-config-manager --enable PowerTools"
       when: ansible_os_family == "RedHat" and ansible_distribution_major_version is version ("7",">")

     - name: install the RHEL >= 8 dependencies
       become: yes
       package:
         name:
           - wget
           - libxml2
           - ncurses
           - bc
           - jq
           - sharutils
           - python2
           - python2-urllib3
           - nodejs
           - xorg-x11-server-Xvfb
           - libXScrnSaver
           - at-spi2-atk
           - gcc
           - gcc-c++
           - make
           - nss
           - gtk3
           - mesa-libgbm
           - alsa-lib
         state: latest
       when: ansible_os_family == "RedHat" and ansible_distribution_major_version is version ("7",">")

     - name: install the Debian dependencies for LinuxVSM
       become: yes
       package:
         name:
           - wget
           - libxml2
           - libxml2-utils
           - ncurses-base
           - bc
           - jq
           - sharutils
           - python
           - python-urllib3
           - nodejs
           - xvfb
           - libnss3
           - libgtk-3-0
           - libgbm1
           - libasound2
           - libxss1
         state: latest
       when: (ansible_distribution == "Ubuntu" and ansible_distribution_major_version is version("20",'<')) or
             (ansible_distribution == "Debian")

     - name: install the Ubuntu dependency for LinuxVSM
       become: yes
       package:
         name:
           - wget
           - libxml2
           - libxml2-utils
           - ncurses-base
           - bc
           - jq
           - sharutils
           - python
           - python3-urllib3
           - xvfb
           - nodejs
           - gcc
           - g++
           - make
           - libgtk-3-0
           - libnss3
           - libgbm1
           - libxss1
         state: latest
       when: (ansible_distribution == "Ubuntu" and ansible_distribution_major_version is version("20",'>='))

# Photon is missing several critical packages
     - name: Remove Vivace YUM file for Photon
       become: yes
       file:
         path: /etc/yum.repos.d/vivace.repo
         state: absent
       when: ansible_os_family == "VMware Photon OS"

     - name: set jq name
       set_fact:
         jqname: jq-1.5-4.ph3.src.rpm
         jqbname: jq-1.5-4.x86_64.rpm
       when: ansible_os_family == "VMware Photon OS"

     - name: Re/create Vivace YUM repos for Photon
       become: yes
       blockinfile:
         path: /etc/yum.repos.d/vivace.repo
         block: |
           [vivace]
           name=VMware Vivace 3.0(x86_64)
           baseurl=https://dl.bintray.com/vmware/vivace_$releasever_$basearch
           gpgkey=file:///etc/pki/rpm-gpg/VMWARE-RPM-GPG-KEY
           gpgcheck=1
           enabled=1
           skip_if_unavailable=True

           [xrpms]
           name=VMware X-RPMS (x86_64)
           baseurl=https://packages.vmware.com/photon/photon_publish_x_rpms
           gpgkey=file:///etc/pki/rpm-gpg/VMWARE-RPM-GPG-KEY
           gpgcheck=0
           enabled=1
           skip_if_unavailable=True
         mode: 0644
         create: yes
       when: ansible_os_family == "VMware Photon OS"

     - name: install the required dependencies for LinuxVSM on Photon
       become: yes
       command: "tdnf -y install {{ item }}"
       with_items:
         - libxml2
         - nodejs
         - make
         - gcc
         - tar
         - patch
         - rpm-build
         - binutils
         - valgrind
         - linux-api-headers
         - python-urllib3
         - bc
         - oniguruma
         - oniguruma-devel
         - ncurses
         - xorg-server
         - xorg-applications
         - at-spi2-atk
         - libXcomposite
         - libXrandr
         - libXScrnSaver
         - alsa-lib
         - cups
         - gtk3
       when: ansible_os_family == "VMware Photon OS"

     - name: Photon Get JQ Source
       get_url:
         url: "https://packages.vmware.com/photon/3.0/photon_srpms_3.0_x86_64/{{jqname}}"
         dest: "{{ansible_user_dir}}"
         mode: 0644
       when: ansible_os_family == "VMware Photon OS"

     - name: Photon Re/create .rpmmacros
       become: yes
       blockinfile:
         path: "{{ansible_user_dir}}/.rpmmacros"
         block: |
            %_topdir %(echo $HOME)/rpmbuild
            %with_check 1
         mode: 0644
         create: yes
       when: ansible_os_family == "VMware Photon OS"

     - name: Photon Build rpmbuild directories
       file:
         path: "{{item}}"
         state: directory
         mode: 0755
       loop:
         - "{{ansible_user_dir}}/rpmbuild"
         - "{{ansible_user_dir}}/rpmbuild/BUILD"
         - "{{ansible_user_dir}}/rpmbuild/SOURCES"
         - "{{ansible_user_dir}}/rpmbuild/RPMS"
         - "{{ansible_user_dir}}/rpmbuild/SPECS"
         - "{{ansible_user_dir}}/rpmbuild/SRPMS"
       when: ansible_os_family == "VMware Photon OS"

     - name: Photon Rebuild JQ
       command: "rpmbuild --rebuild --nocheck {{ansible_user_dir}}/{{jqname}}"
       when: ansible_os_family == "VMware Photon OS"

     - name: Photon Install JQ
       become: yes
       command: "rpm -ivh --force {{ansible_user_dir}}/rpmbuild/RPMS/x86_64/{{jqbname}}"
       when: ansible_os_family == "VMware Photon OS"

     - name: Install Xcode CLI for MacOSX
       ignore_errors: yes
       shell: "xcode-select --install"
       when: ansible_distribution == "MacOSX"

     - name: Install Dependencies for MacOSX
       homebrew:
         name:
           - gnu-sed
           - wget
           - jq
           - node
         state: latest
       when: ansible_distribution == "MacOSX"

     - name: Install Cask Dependencies for MacOSX
       homebrew_cask:
         name: xquartz
       when: ansible_distribution == "MacOSX"

     - name: MacOSX create bin directory
       file:
         path: "{{ansible_user_dir}}/bin"
         state: directory
       when: ansible_distribution == "MacOSX"

     - name: Set MacOSX Facts
       set_fact:
         path_two: 
           - "{{ansible_user_dir}}/perl5/bin"
           - "{{ansible_user_dir}}/bin"
       when: ansible_distribution == "MacOSX"

     - name: Merge the LinuxVSM MacOSX Paths
       set_fact:
         vsmpath: "{{(mypath + path_two)|unique}}"
       when: ansible_distribution == "MacOSX"

     - name: Update .zshrc on MacOSX
       lineinfile:
         path: "{{ansible_user_dir}}/.zshrc"
         regexp: 'PATH='
         line: "export PATH=$PATH{{vsmpath|join(':')}}"
         create: yes
       when: ansible_distribution == "MacOSX"

     - name: Update .bash_profile on MacOSX
       lineinfile:
         path: "{{ansible_user_dir}}/.bash_profile"
         regexp: 'PATH='
         line: "export PATH=$PATH{{vsmpath|join(':')}}"
         create: yes
       when: ansible_distribution == "MacOSX"

     - name: Download the latest version of LinuxVSM
       become: yes
       get_url:
         url: https://raw.githubusercontent.com/Texiwill/aac-lib/master/vsm/vsm.sh
         dest: /usr/local/bin
         mode: 0755
       when: ansible_distribution != "MacOSX"

     - name: Download the latest version of LinuxVSM MacOSX
       get_url:
         url: https://raw.githubusercontent.com/Texiwill/aac-lib/master/vsm/vsm.sh
         dest: "{{ansible_user_dir}}/bin"
         mode: 0755
       when: ansible_distribution == "MacOSX"

- name: Fix SELinux
  import_playbook: aac-base-fixselinux.yaml
...
