---
# version: 1.0.3

- hosts: localhost
  become_user: root

- name: vCLI
  import_playbook: vCLI.yaml
      
- name: OVFTOOL
  import_playbook: ovftool.yaml

- name: PowerCLI
  import_playbook: PowerCLI.yaml

- name: dcli
  import_playbook: dcli.yaml

- name: vctui
  import_playbook: vctui.yaml

- name: Fix SELinux
  import_playbook: aac-base-fixselinux.yaml
...
